ul {
  list-style: none;
}

li {
  display: inline-block;
  margin-inline: 50px;
  font-weight: bold;
  font-size: x-large;
}

a {
  text-decoration: none;
  color: black;
}

.div_for {
  justify-content: flex-end;
  display: flex;
}